@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

html {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  font-family: 'EB Garamond', serif;
  overflow-wrap: break-word;
}

.content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.content * {
  max-width: 100%;
  height: auto;
  overflow-wrap: break-word;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 2rem;
  display: flex;
  gap: 2rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 2rem;

  >ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    gap: 1rem;
  }
}

a {
  color: #222;
  text-decoration: underline;
}

.title {
  margin: 0;

  a {
    text-decoration: none;
  }
}

nav {
  ul {
    display: flex;
    justify-content: left;
    gap: 2rem;
    list-style: none;
    padding: 0;
  }
}

.highlight {
  border: 1px solid #222;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Background */
.bg {
  background-color: #ffffff;
}

/* PreWrapper */
.chroma {
  background-color: #ffffff;
  font-family: "JetBrains Mono", monospace;
}

.talkHeader {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.postHeader h1 {
  margin: 0;
  margin-bottom: .5rem;
}

.talkSummary h2 {
  margin: 0;
}

/* Other */
.chroma .x {}

/* Error */
.chroma .err {}

/* CodeLine */
.chroma .cl {}

/* LineLink */
.chroma .lnlinks {
  outline: none;
  text-decoration: none;
  color: inherit
}

/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineHighlight */
.chroma .hl {
  background-color: #e5e5e5
}

/* LineNumbersTable */
.chroma .lnt {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f
}

/* LineNumbers */
.chroma .ln {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f
}

/* Line */
.chroma .line {
  display: flex;
}

/* Keyword */
.chroma .k {
  color: #0000ff
}

/* KeywordConstant */
.chroma .kc {
  color: #0000ff
}

/* KeywordDeclaration */
.chroma .kd {
  color: #0000ff
}

/* KeywordNamespace */
.chroma .kn {
  color: #0000ff
}

/* KeywordPseudo */
.chroma .kp {
  color: #0000ff
}

/* KeywordReserved */
.chroma .kr {
  color: #0000ff
}

/* KeywordType */
.chroma .kt {
  color: #2b91af
}

/* Name */
.chroma .n {}

/* NameAttribute */
.chroma .na {}

/* NameBuiltin */
.chroma .nb {}

/* NameBuiltinPseudo */
.chroma .bp {}

/* NameClass */
.chroma .nc {
  color: #2b91af
}

/* NameConstant */
.chroma .no {}

/* NameDecorator */
.chroma .nd {}

/* NameEntity */
.chroma .ni {}

/* NameException */
.chroma .ne {}

/* NameFunction */
.chroma .nf {}

/* NameFunctionMagic */
.chroma .fm {}

/* NameLabel */
.chroma .nl {}

/* NameNamespace */
.chroma .nn {}

/* NameOther */
.chroma .nx {}

/* NameProperty */
.chroma .py {}

/* NameTag */
.chroma .nt {}

/* NameVariable */
.chroma .nv {}

/* NameVariableClass */
.chroma .vc {}

/* NameVariableGlobal */
.chroma .vg {}

/* NameVariableInstance */
.chroma .vi {}

/* NameVariableMagic */
.chroma .vm {}

/* Literal */
.chroma .l {}

/* LiteralDate */
.chroma .ld {}

/* LiteralString */
.chroma .s {
  color: #a31515
}

/* LiteralStringAffix */
.chroma .sa {
  color: #a31515
}

/* LiteralStringBacktick */
.chroma .sb {
  color: #a31515
}

/* LiteralStringChar */
.chroma .sc {
  color: #a31515
}

/* LiteralStringDelimiter */
.chroma .dl {
  color: #a31515
}

/* LiteralStringDoc */
.chroma .sd {
  color: #a31515
}

/* LiteralStringDouble */
.chroma .s2 {
  color: #a31515
}

/* LiteralStringEscape */
.chroma .se {
  color: #a31515
}

/* LiteralStringHeredoc */
.chroma .sh {
  color: #a31515
}

/* LiteralStringInterpol */
.chroma .si {
  color: #a31515
}

/* LiteralStringOther */
.chroma .sx {
  color: #a31515
}

/* LiteralStringRegex */
.chroma .sr {
  color: #a31515
}

/* LiteralStringSingle */
.chroma .s1 {
  color: #a31515
}

/* LiteralStringSymbol */
.chroma .ss {
  color: #a31515
}

/* LiteralNumber */
.chroma .m {}

/* LiteralNumberBin */
.chroma .mb {}

/* LiteralNumberFloat */
.chroma .mf {}

/* LiteralNumberHex */
.chroma .mh {}

/* LiteralNumberInteger */
.chroma .mi {}

/* LiteralNumberIntegerLong */
.chroma .il {}

/* LiteralNumberOct */
.chroma .mo {}

/* Operator */
.chroma .o {}

/* OperatorWord */
.chroma .ow {
  color: #0000ff
}

/* Punctuation */
.chroma .p {}

/* Comment */
.chroma .c {
  color: #008000
}

/* CommentHashbang */
.chroma .ch {
  color: #008000
}

/* CommentMultiline */
.chroma .cm {
  color: #008000
}

/* CommentSingle */
.chroma .c1 {
  color: #008000
}

/* CommentSpecial */
.chroma .cs {
  color: #008000
}

/* CommentPreproc */
.chroma .cp {
  color: #0000ff
}

/* CommentPreprocFile */
.chroma .cpf {
  color: #0000ff
}

/* Generic */
.chroma .g {}

/* GenericDeleted */
.chroma .gd {}

/* GenericEmph */
.chroma .ge {
  font-style: italic
}

/* GenericError */
.chroma .gr {}

/* GenericHeading */
.chroma .gh {
  font-weight: bold
}

/* GenericInserted */
.chroma .gi {}

/* GenericOutput */
.chroma .go {}

/* GenericPrompt */
.chroma .gp {
  font-weight: bold
}

/* GenericStrong */
.chroma .gs {
  font-weight: bold
}

/* GenericSubheading */
.chroma .gu {
  font-weight: bold
}

/* GenericTraceback */
.chroma .gt {}

/* GenericUnderline */
.chroma .gl {}

/* TextWhitespace */
.chroma .w {}

div.highlight pre {
  white-space: pre-wrap;
  word-break: break-word;
}
