/* JetBrains Mono */
@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono', monospace;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/JetBrainsMono-VariableFont_wght.ttf');
}

/* Merriweather */
@font-face {
  font-display: swap;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Merriweather-Regular.ttf');
}
