html {
  color: #000000;
  font-family: 'JetBrains Mono', monospace;
  font-size: 15px;
  line-height: 1.6em;
}

body {
  display: block;
  margin: 8px;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
  background: #000000;
  color: #fff;
}

p {
  font-family: 'JetBrains Mono', monospace;
  line-height: 1.5;
}

hr {
  border: 0;
  border-top: 3px dotted #000000;
  margin: 1em 0;
}

blockquote {
  border-left: 3px solid #000000;
  color: #000000;
  margin: 0;
  padding-left: 1em;
}

a {
  color: inherit;
  text-decoration: underline 2px;
}

a:hover {
  background-color: #000000;
  color: #fff;
}

ul {
  list-style: none;
  padding-left: 2ch;
}

ul li {
  text-indent: -2ch;
}

ul>li::before {
  content: '* ';
  font-weight: bold;
}

/* Images */
img {
  border: 3px solid #000000;
  max-width: 100%;
}

figure {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  max-width: 100%;
}

figure img {
  max-height: 500px;
}

@media screen and (min-width: 600px) {
  figure {
    padding: 0 40px;
  }
}

figure h4 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1em;
}

figure h4::before {
  content: '↳ ';
}

/* Code blocks */
code {
  background-color: #000000;
  padding: .1em .2em;
}

pre {
  background-color: #000000;
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em;
}

.highlight pre ::selection {
  background: #000000;
  color: inherit;
}

pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
}

/* Containers */
.content {
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0 1ch;
  word-wrap: break-word;
}

/* Header */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 0;
  line-height: 2.5em;
}

header .main {
  font-size: 1.5rem;
}

.site-header {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.2rem;
  margin-top: 2em;
}

.top-nav {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

/* Content */
.home-content {
  margin: 3rem 0;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0rem;
  margin-top: 2rem;
}

.footer-links {
  display: flex;
  gap: 2rem;
}

.soc {
  display: flex;
  align-items: center;
}

.border {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid;
}

/* Common */
.meta h1,
h2 {
  margin: 0;
}

time {
  color: #000000;
}

/* Posts */
.list-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post-meta {
  margin: 2rem 0;
}

.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Callout */
.callout {
  background-color: #000000;
  color: #fff;
  padding: 1em;
}

.callout p {
  font-family: 'JetBrains Mono', monospace;
  margin: 0;
}

.callout a:hover {
  background-color: #000000;
  color: #fff;
}

.site-description {
  display: flex;
  justify-content: space-between;
}

.tags li::before {
  content: "🏷 ";
}

.tags a:hover {
  color: #fff;
  background-color: #000000;
}

svg {
  max-height: 15px;
}

.soc:hover {
  color: #000000;
}

.draft-label {
  color: #000000;
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 6px;
  background-color: #f9f2f4;
}

.highlight {
  position: relative;
  -webkit-overflow-scrolling: touch;
}

/* table */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
  font-size: large;
}

table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}
